*{
    margin: 0
}

body{
    background-color: #f0f0f0;
    background-image: url(images/background.jpg);
    background-position: center center;
    background-size: cover;
    
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
  }
  
  #header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf8f8;
    padding-left: 5px;
    padding-right: 5px;
    padding: 7px;
  }

  #home-button{
    color: rgb(95, 180, 151);
    text-decoration: none;
    font-weight:normal;
  }

  .cartBookBtn {
    color:  white;
    border-radius: 5px;
    background-color: rgb(95, 180, 151);
    margin-right: 50px;
    cursor: pointer;
    height: 30px;
    width: 80px;
  }

  #right-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 10px;
  }

  #content-top{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 16;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
  }

  #content-top-title{
    padding-bottom: 10px;
  }

#content-left {
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 8;
    height: 100%;
    width: 100%;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

#content-right {
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 12;
    grid-column-start: 9;
    grid-column-end: 12;
    height: 100%;
    width: 100%;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    overflow:auto


  }


  #arrival {
    background-color: #f1f0eb;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;

  }
  #departure {
    background-color: #f1f0eb;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
  }

  #date{
    background-color: #f1f0eb;
    width: 100%;
    border-radius: 3%;

  }

  #btn-search {
    width: 100%;
    background-color: rgb(95, 180, 151);
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 5%;
  }
 #train {
    height: 40%;
    width: 50%;
    
 }

#line {
    height: 3px;
    background-color: rgb(95, 180, 151);
    color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(239, 235, 229);
  width: 80%;
  border-radius: 5px;
  }